/* changing page element properties */

a { 
  color: #074566 !important; 
}

  a:hover { 
    text-shadow: 0 0 3px #00e7ca; 
  }

div, br, p { 
  text-align: center; 
}

h1,h2 {
  font-weight: 200;
  margin: 0.4em 0;
  color: #074566;
}

h1 { 
  font-size: 3.5em; 
}

h2 {
  font-size: 2em;
}

html,body {
  margin-left: 12px;
  font-size: 18px;
  background: #FFFFFF;
  color: black;
}

img {
  width: 20%;
  height: 20%;
}

/* classes */

.coolfont { 
  font-family: 'Lato', sans-serif; 
}

.headerspace { 
  height: 150px; 
}

.menufooter {
  width: 300px;
  padding-top: 15px;
  margin-right: auto !important;
  margin-left: auto !important;
}

/* id tags */

#smallrect {
  width: 300px;
  padding: 10px;
  border: 1px solid #C0C0C0;
  margin: auto;
}




