/* fonts */

@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Monoton');

.container {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: 1fr;
  grid-template-rows: 200px auto 0px;
  align-items: center;
  justify-items: center;
  font-family: 'Roboto', sans-serif;
}

.header {
  font-family: 'Monoton', cursive;
  font-size: 4em;
  color: #66ccff;
  margin-top: 20%;
}

.header:hover {
  color: #9999ff
}

.footer {
}

.content {
  margin: 10%;
}

a {
  text-decoration: none;
  color: #66ccff
}

/* mouse over link */
a:hover {
    color: #9999ff;
}
