/* fonts */

@import 'https://fonts.googleapis.com/css?family=Lato:100';
@import 'https://fonts.googleapis.com/css?family=Rajdhani';

.rajfont {
  font-family: 'Rajdhani', sans-serif;
}

.coolfont {
  font-family: 'Lato', sans-serif;
}


/* changing page element properties */

a {
  color: #074566 !important;
}

  a:hover {
    text-shadow: 0 0 10px #ccfff2;
  }

div, br, p {
  text-align: center;
}

h1,h2 {
  font-weight: 200;
  color: #074566;
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2em;
}

html,body {
  background: url('img/marble.png') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-size: 18px;
  color: black;
}

img {
  width: 50px;
  height: 50px;
}

ul {
  list-style: none;
}

/* trianglify backgrounds */

.pattern {
  background: url("img/pattern.svg");
  background-size: content;

}
.pattern2 {
  background: url("img/pattern2.svg");
  background-size: 100%;
  background-repeat: no-repeat;
}
.pattern3 {
  background: url("img/pattern3.svg");
  background-size: content;
}
.pattern4 {
  background: url("img/pattern4.svg");
  background-size: cover;
}
.pattern5 {
  background: url("img/pattern5.svg");
  background-size: cover;
}

/* various classes */

.headerspace {
  height: 150px;
}

.menufooter {
  width: 300px;
  padding-top: 15px;
  margin-right: auto !important;
  margin-left: auto !important;
  padding-bottom: 20px;
}

.menupics a:hover b {
    display: block;
    text-decoration: none;
}

.menupics a:hover{
    text-decoration: none;
}


.menupics b {
    display: none;
    font-size: 10px;
    font-family: 'Rajdhani', sans-serif;
    color: #074566;
}

.top-buffer {
  margin-top: 20px;
}

.img-circle {
    border-radius: 50%;
}

/* id tags */

#smallrect {
  width: 300px;
  padding: 10px;
  border: 1px solid #C0C0C0;
  margin: auto;
  background: #FFFFFF;
}

#medrect {
  border: 1px solid #C0C0C0;
  background: #FFFFFF;
  padding: 10px;

}

/* button styling */

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
  opacity: 0.5;
}

/**************************
  DEFAULT BOOTSTRAP STYLES
**************************/

.btn {
  display: inline-block;
  padding: 6px 12px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
  padding: 10px 16px;
}

.btn-lg {
  font-size: 18px;
  line-height: 1.33;
  border-radius: 6px;
}

.btn-primary {
  color: #fff;
  background-color: #428bca;
  border-color: #357ebd;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open .dropdown-toggle.btn-primary {
  color: #fff;
  background-color: #3276b1;
  border-color: #285e8e;
}

/***********************
  OUTLINE BUTTONS
************************/

.btn.outline {
    background: none;
    padding: 12px 22px;
}
.btn-primary.outline {
    border: 1px solid #0099cc;
    color: #000000;
}
.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
    color: #33a6cc;
    border-color: #33a6cc;
}
.btn-primary.outline:active, .btn-primary.outline.active {
    border-color: #007299;
    color: #007299;
    box-shadow: none;
}

/***********************
  CUSTON BTN VALUES
************************/

.btn {
    padding: 14px 24px;
    border: 0 none;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}
.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0 none;
}
